<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>CFBundleExecutable</key>
  <string>mac-focus-tracker</string>
  <key>CFBundleIdentifier</key>
  <string>com.nigelthorne.mac-focus-tracker</string>
  <key>CFBundleName</key>
  <string>Mac Focus Tracker</string>
  <key>CFBundlePackageType</key>
  <string>APPL</string>
  <key>CFBundleShortVersionString</key>
  <string>1.0</string>
  <key>LSBackgroundOnly</key>
  <true/>
  <key>NSAccessibilityUsageDescription</key>
  <string>Mac Focus Tracker records the focused app and window titles in a local timeline file.</string>
</dict>
</plist>
